<h1>posts#result</h1>
<%= render partial: "layouts/form", locals: { post: @post } %>
<% if @post.card_info %>
  <%= @post.card_info %>
  <%#= hand = Poker.new %>
      <%#= hand = hand.poker_flash_straight(card_info) %>
      <%# if @hand == nil %>
        <%# hand = Poker.new %>
        <%#= hand = hand.poker_numerical(card_info) %>
      <%# end %>
<% end %>